#storiesWrap{
    padding: 0;
    margin:0 auto;
    display: inline-flex;
    position: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100vw;
    overflow: hidden;
    margin-left: 5vw;
    margin-top: 3.33vh;
}
@media screen and (min-width: 1080px){
    #storiesWrap{
        max-width: 70vw;
        margin-left: 15vw;
    }
}